*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
}

html,body{
    width:100%;
    height:100%;
    font-family:"Poppins",sans-serif;
}

body{
    background:#111827;
}

#app{
    max-width:480px;
    margin:auto;
    min-height:100vh;
}

.topbar{
    position:relative;
    height:60px;
    margin-top:20px;
}

.back{
    position:absolute;
    left:24px;
    top:47%;
    transform:translateY(-47%);
    color:#fff;
    text-decoration:none;
    font-size:34px;
}

.topbar h1{

    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    margin-left:12px;

    color:#fff;
    font-size:22px;
    font-weight:700;

    white-space:nowrap;
}

#liste{
    padding:20px;
}

.carte{
    position:relative;
    width:90%;
    margin:0 auto 20px;
    border-radius:18px;
    overflow:hidden;
    border:none;
    outline:none;
}



.vide{

    margin-top:100px;

    text-align:center;

    color:#8b94a8;

    font-size:18px;
}

.fondCarte{
    width:100%;
    display:block;
}

.infos{
    position:absolute;
    inset:0;
}

.titre{
    position:absolute;
    left:18px;
    top:38px;
    color:#fff;
    font-size:18px;
    font-weight:700;
    line-height:1;
}

.date{

    position:absolute;
    left:18px;
    top:64px;
    display:flex;
    align-items:center;
    color:#fff;
    font-size:12px;
}

.lieu{

    position:absolute;
    left:18px;
    top:84px;
    display:flex;
    align-items:center;
    color:#fff;
    font-size:12px;
}

.heure{

    position:absolute;

    left:18px;
    top:108px;
    display:flex;
    align-items:center;
    color:#fff;
    font-size:12px;
    font-weight:600;
}

.icon{

    width:12px;

    height:12px;

    margin-right:5px;

    flex-shrink:0;
}

#overlay.cache,
#overlaySuppr.cache{
    display:none;
}

#overlay,
#overlaySuppr{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    backdrop-filter:blur(8px);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}

#popup{
    width:84%;
    max-width:340px;
    background:#1b2332;
    border-radius:22px;
    padding:18px;
    animation:popup .20s;
}

.popupBtn{
    height:56px;
    background:#232b3d;
    border-radius:16px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:18px;
    font-weight:600;
    margin-bottom:12px;
}

.popupBtn:last-child{
    margin-bottom:0;
}

.popupBtn:active{
    transform:scale(.96);
}

.danger{
    color:#ff5d5d;
}

@keyframes popup{
    from{
        transform:scale(.92);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

.popupTitre{
    color:#fff;
    font-size:20px;
    font-weight:700;
    text-align:center;
    margin-bottom:20px;
}
