*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
}

html,body{
    width:100%;
    height:100%;
    font-family:"Poppins",sans-serif;
}

body{
    background:#111827;
}

#app{
    max-width:480px;
    margin:auto;
    min-height:100vh;
}

.topbar{
    position:relative;
    height:60px;
    margin-top:20px;
}

.back{
    position:absolute;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    color:#fff;
    text-decoration:none;
    font-size:34px;
}

.topbar h1{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    margin-left:18px;

    color:#fff;
    font-size:22px;
    font-weight:700;
}

#liste{
    padding:20px;
}

.carte{

    position:relative;

    width:90%;

    margin:0 auto 20px;
}



.vide{

    margin-top:100px;

    text-align:center;

    color:#8b94a8;

    font-size:18px;
}

.fondCarte{
    width:100%;
    display:block;
}

.infos{
    position:absolute;
    inset:0;
}

.titre{
    position:absolute;
    left:20px;
    top:38px;
    color:#fff;
    font-size:22px;
    font-weight:700;
}

.date{
    position:absolute;
    left:20px;
    top:90px;
    color:#fff;
    font-size:14px;
}

.lieu{
    position:absolute;
    left:20px;
    top:116px;
    color:#fff;
    font-size:14px;
}

.heure{
    position:absolute;
    left:20px;
    bottom:28px;
    color:#fff;
    font-size:14px;
    font-weight:600;
}

.ville{
    display:none;
}
